<!-- Muestra el encabezado en todas las paginas -->
<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Pelis Pelis</a>
        <div class="dropdown">
            <a href="/directores" class="dropdown-a">Directores</a>
            <div class="dropdown-content">
                <a href="/directores/new">Agregar Director</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/peliculas" class="dropdown-a">Películas</a>
            <div class="dropdown-content">
                <a href="/peliculas/new">Agregar Película</a>
            </div>
        </div>
    </nav>
</header>